body {
    background-image: url("KIIT.jpg");
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;

}

.box {
    border: 1px solid black;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 2vw;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


h1,
h2,
h3,h4 {
    text-align: center;
}
a{
    text-decoration: none;
}

.btn {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}


h1,
button:hover {
    background-color: greenyellow;
    cursor: pointer;
    box-shadow: 10px 10px rgba(129, 122, 122, 0.424);
}

li {
    display: inline;
    /* margin: 20px; */
}

.ro,
ion-icon {
    text-align: center;
    color: black;
}

ion-icon:hover {
    color: white;
}
